.ContentLeftView {
    width: 680px;
    height: 380px;
    padding: 10px;
    background-color: #fbfbfb;
    border: 0.4vh solid #b4b4b4;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: 150px 150px 150px 150px;
    overflow-x: hidden;
    z-index: 1;

    &::-webkit-scrollbar {
        display: none;
    }
}